/* sticky footer */
*, *:before, *:after { 
	box-sizing: border-box; 
}
html, body { min-height: 100vh; }
body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
  font-size: 1.25rem;
}
body > footer {
  position: sticky;
  top: 100vh;
}
a { color: #000; }
a:visited, a:hover { color: #f4511e; }
.site-title {
  font-weight: bold;
  text-transform: uppercase;
}
.site-title { margin: 0; }
.site-title a, .site-title a:visited { text-decoration: none; }

/* header and footer areas */
.menu {
  padding: 0;
  margin-top: 0;
}
.menu li {
  display: inline-block;
  margin-left: 20px;
}
.menu li:first-child { margin-left: 0; }
h1 small, li small {
  display: block;
  font-size: 0.8rem;
  color: #666;
}
footer { text-align: center; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code {
  background: #eee;
  padding: .2em .4em;
}
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}
table {
  margin: 0 auto;
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
.article-list {
  margin-bottom: 15px;
  list-style-type: none;
}