{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block "title" .}}{{end}} &mdash; Alec Stewart</title>
    <link rel="stylesheet" href="/static/neat.css" type="text/css">
    <link rel="stylesheet" href="/static/custom.css" type="text/css">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed.xml">
    {{ if .CanonicalURL }}<link rel="canonical" href="{{.CanonicalURL}}" />{{ end }}
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
</head>
<body>
    <header>
        <a class="title" href="/">
            <h1>
                Alec Stewart
            </h1>
        </a>
        <nav>
            <p>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/now">Now</a>
                <a href="/essays">Essays</a>
                <a href="/more">More...</a>
                {{ if .IsAuthenticated }}
                <a href="/admin">Dashboard</a>
                <a href="/logout" class="red">Logout</a>
                {{ end }}
            </p>
        </nav>
    </header>
    
    <main>
        {{block "content" .}}{{end}}
    </main>
    
    <footer class="breathe">
        <p>
            <small><a href="/">Home</a> | <a href="/contact">Contact</a> | <a href="/feed">Feed</a> | <a href="/search">Search</a></small>
        </p>
        <p>
            <small><strong>Alec Stewart</strong> &copy; 2026
            &mdash; <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></small>
        </p>
    </footer>
</body>
</html>
{{end}}