body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

blockquote {
    font-style: italic;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 1.3em;
}

nav a {
    margin-right: 8px;
}

footer {
    text-align: center;
}

.form-group {
	margin-bottom: 1rem;
}

.form-group label {
    font-weight: bold;
}

.form-group label[for="title"],
.form-group label[for="slug"],
.form-group label[for="tags"],
.form-group label[for="username"], 
.form-group label[for="password"] {
    display: block;
}

#title,
#slug,
#content,
#tags,
.form-group textarea {
    width: 100%;
}

.title, .title:hover {
    text-decoration: none;
}

.title h1 {
    color: var(--dark);
}

ul.blog-posts li time {
    color: var(--dark);
}

ul.blog-posts{ list-style:none; padding:unset; }
ul.blog-posts li{ display:flex; margin-bottom:4px; flex-direction:column; }
@media (min-width:600px){
    ul.blog-posts li{ flex-direction:row; }
}
ul.blog-posts li span{ flex:0 0 auto; min-width:13ch;}

.red {
    color: #dd4b4c;
}

.table-container {
    overflow-x: auto;
}
table {
    width: 100%;
    border: 1px solid var(--dark);
}
table thead th { border-bottom: 1px solid var(--lesslight); }
th, td {
    padding: 5px;
    white-space: nowrap;
    text-align: center;
}
thead, tfoot, tr:nth-child(even) { background: var(--lesslight); }

span.email b { display: none; }