{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "content"}}
<p>Hi, I'm Alec.</p>

<h2 class="breathe">Recent Articles <small><a href="/articles">See all</a></small></h2>

{{if .Articles}}
    {{range .Articles}}
    <ul class="posts">
        <li>
            <span><time>{{.CreatedAt.Format "Jan 2, 2006"}}</time></span>
            <a href="/{{.PostType}}s/{{.Slug}}">{{.Title}}</a>
            {{ if $.IsAuthenticated }}<small style="margin-left:5px;">(<a href="/admin/posts/edit/{{.ID}}">edit</a>)</small>{{end}}
        </li>
    </ul>
    {{end}}
{{else}}
    <p>No articles yet.</p>
{{end}}

<h2 class="breathe">Recent Notes <small><a href="/notes">See all</a></small></h2>
{{if .Notes}}
    {{range .Notes}}
    <dl>
        <dt>
            <a href="/{{.PostType}}s/{{.Slug}}"><time>{{.CreatedAt.Format "Jan 2, 2006"}}</time></a>
            {{ if $.IsAuthenticated }}<small style="margin-left:5px;">(<a href="/admin/posts/edit/{{.ID}}">edit</a>)</small>{{end}}
        </dt>
        <dd>{{.HTMLContent}}</dd>
    </dl>
    {{end}}
{{else}}
    <p>No notes yet.</p>
{{end}}
{{end}}