{{template "base" .}}

{{define "title"}}
{{if .Post.Title}}{{.Post.Title}}{{else}}{{.Post.CreatedAt.Format "2006-01-02 15:04 MST"}} ({{.Post.PostType}}){{end}}
{{end}}

{{define "content"}}
<article>
    {{if .Post.Title}}<h2>{{.Post.Title}}</h2>{{end}}
    <p>
        <small>
            <time>{{.Post.CreatedAt.Format "Jan 2, 2006"}}</time>
            {{ if ne (.Post.UpdatedAt.Format "2006-01-02") (.Post.CreatedAt.Format "2006-01-02") }}
                &bull; Updated: {{.Post.UpdatedAt.Format "Jan 2, 2006"}}
            {{ end }}
            {{if .Post.Tags}}
                &bull; {{range $i, $tag := .Post.Tags}}{{if $i}}, {{end}}<em><a href="/tags/{{.}}">{{$tag}}</a></em>{{end}}
            {{end}}
            {{ if $.IsAuthenticated }}<small style="margin-left:5px;">(<a href="/admin/posts/edit/{{.Post.ID}}">edit</a>)</small>{{end}}
        </small>
    </p>
    <div class="breathe">{{.Post.HTMLContent}}</div>
</article>
{{end}}