{{template "base" .}}

{{define "title"}}{{.PostType}}s{{end}}

{{define "content"}}
<h2>All {{.PostType}}s</h2>

{{if .Posts}}
    {{range .Posts}}
        {{ if eq .PostType "article" }}
        <ul class="blog-posts">
            <li>
                <span><time>{{.CreatedAt.Format "Jan 2, 2006"}}</time></span>
                <a href="/{{.PostType}}s/{{.Slug}}">{{.Title}}</a>
                {{ if $.IsAuthenticated }}<small style="margin-left:5px;">(<a href="/admin/posts/edit/{{.ID}}">edit</a>)</small>{{end}}
            </li>
        </ul>
        {{else}}
        <dl class="breathe">
            <dt>
                <a href="/{{.PostType}}s/{{.Slug}}"><time>{{.CreatedAt.Format "January 2, 2006"}}</time></a>
                {{ if $.IsAuthenticated }}<small style="margin-left:5px;">(<a href="/admin/posts/edit/{{.ID}}">edit</a>)</small>{{end}}
            </dt>
            <dd>{{.HTMLContent}}</dd>
        </dl>
        {{end}}
    {{end}}
{{else}}
    <p>No posts yet.</p>
{{end}}
{{end}}